#root {
  margin-top: 80px;
}
.App {
  display: grid;
  justify-content: center;
}
.todo {
  border: 2px solid #299486;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 40px;
}
.add {
  display: grid;
  justify-content: center;
}
input {
  margin-right: 16px;
  padding: 6px;
  font-size: 12px;
  border: 2px solid #299486;
  border-radius: 6px;
}
form button {
  font-size: 12px;
  padding: 5px;
  border: 3px solid #299486;
  background-color: #41ead4;
  color: black;
  border-radius: 4px;
}
form button:hover {
  cursor: pointer;
  background-color: #299486;
  color: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transform: perspective(1px) translateZ(0);
}
hr {
  color: #299486;
}
.option {
  margin-top: 55px;
  margin-bottom: 24px;
}
.option button {
  background-color: #7de5ed;
  margin-right: 5px;
  border: 1px solid #00bdcb;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 700;
  padding: 4px;
}
.option button:hover {
  cursor: pointer;
  background-color: #299486;
  color: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transform: perspective(1px) translateZ(0);
}
